.title {
    color:#fffe;
}
.levelsContainer {
    width: 1200px;
    margin:0px auto;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
}
.level {
    border:.5px solid #cce;
    border-radius:10px;
    background-color:#7f5af0;
    cursor:pointer;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    transition: background 500ms ease;
    margin:10px;
    height: 75px;
    width:75px;
}
.level:hover {
    background-color:#eee;
    color:black;
}
